ul{
    background: #2a2a2e;
    height: 10vh;
}

ul li{
    display: table-cell;    
    padding: 2rem;
    height: 40px;
}

.d-flex{
    height: 100%;
}
#navbar{
    margin-bottom: 0;
    width: 100%;
}
#navbar a{
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px black ;
    transition: ease-in color 100ms
}

#navbar a:visited{
    color: white;
}

#navbar a:hover{
    color: orange;
    transition: ease-in color 100ms;
}

.intronavbar{
    margin-left: 40rem;
}

.abilitybox p:hover{
    box-shadow: none;
}

footer{
    background-color: #2a2a2e;
    color: white;
}
@media screen and (max-width: 414px) {
    #navbar {
      display:none;
    }}