/* PARALLAX HEADER */
body,
html,
.introduction {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

.headerparallax {
  background: url(/../assets/img/headerparallax.jpg) center 0 no-repeat fixed;

}

header img{
  width: 100%;
}
ul li {
    list-style-type: none;
    display: table-cell;
    padding-left: 1rem;
    padding-right: 1rem;
}

.titles{
  text-align: center;
}
/* PROFIL */

.profile{
  background-color: #52DEE5;
}

/* MES PROJETS */

.pastprojects{
  background-color: #92DCE5;
}

/* COMPETENCES */
.abilities{
  background-color: #EEE5E9;
}
/* CV */

.cvdownload{
  background-color: #7C7C7C;
}

/* FORM FOOTER */
.contacts{
  background-color: #2A2A2E;
  color: white;
}

.bigtext{
  font-size: 2rem;
}
#introduction{
  text-align: center;
}

#descriptiontext{
  text-align: center;
  margin-bottom: 0;
}
  @media only screen and (max-device-width: 1366px) {
    .headerparallax {
      background-attachment: scroll;
    }
  }